.react-card-flipper {
  margin: 3rem;
}
@media screen and (max-width: 640px) {
  .react-card-flipper {
    margin-left: 0;
    margin-right: 0;
  }
}
.react-card-front,
.react-card-back {
  width: fit-content !important;
  height: auto !important;
}
.react-card-back p {
  color: var(--bleu-fonce) !important;
}
.react-card-front h4 {
  color: var(--rouge-orange) !important;
}
.react-card-front:hover h4 {
  color: var(--blanc) !important;
}
