/* Imports internes */
@import "./Nav/nav.css";
@import "./footer/footer.css";
@import "./range/multi-range.css";
@import "./cards/card.css";
@import "./animations/animations.css";
@import "./pages/accueil.css";
@import "./pages/about.css";
@import "./pages/prestation.css";
@import "./pages/realisations.css";
@import "./pages/contact.css";
@import "./pages/devis.css";
@import "./animations/progress-bar.css";
@import "./pages/maintenance.css";
@import "./pages/mentions-legales.css";
@import "./carousel/carousel.css";
@import "./pages/404.css";
/* imports Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --transparent: rgba(255, 255, 255, 0);
  --bleu-clair: #4087ff;
  --blanc: #ffffff;
  --bleu-fonce: #2e437d;
  --bleu-fonce-transparent: rgba(46, 67, 125, 0.8);
  --bleu-fonce-transparent-2: rgba(46, 67, 125, 0.95);
  --bleu-fond: rgba(248, 250, 255, 1);
  --bg-bleu-fonce: linear-gradient(
    0deg,
    rgba(46, 67, 125, 0.85),
    rgba(46, 67, 125, 0.85)
  );
  --bg-noir: linear-gradient(
    0deg,
    rgba(50, 50, 50, 0.85),
    rgba(50, 50, 50, 0.85)
  );
  --vert: #41ead4;
  --vert-transparent: rgba(65, 234, 212, 0.95);
  --rouge-orange: #fc5050;
  --fond-orange: #fff5f5;
  --noir-style: #3f3f3f;
  --vert-fond: #ebfffc;
  --vert-fond-2: rgba(235, 255, 252, 0.8);
  --fond-gris: rgba(250, 250, 251, 0.95);
  --blanc-transparent: rgba(255, 255, 255, 0.65);
  --blanc-transparent-2: rgba(255, 255, 255, 0.9);
  --gris: #6b7f82;
  --bleu-fond: #f8faff;
  --noir-paragraphe: #505050;

  /* Font-size */
  /* h1 */
  --size-2xl-h1: 2rem;
  --size-xl-h1: 1.8rem;
  --size-lg-h1: 1.5rem;
  --size-md-h1: 1.5rem;
  --size-sm-h1: 1.2rem;

  /* h2 */
  --size-2xl-h2: 1.5rem;
  --size-xl-h2: 1.3rem;
  --size-lg-h2: 1.15rem;
  --size-md-h2: 1.1rem;
  --size-sm-h2: 1.1rem;

  /* h3 */
  --size-2xl-h3: 1.3rem;
  --size-xl-h3: 1.2rem;
  --size-lg-h3: 1.1rem;
  --size-md-h3: 1.1rem;
  --size-sm-h3: 1rem;

  /* h4 */
  --size-2xl-h4: 0.9rem;
  --size-xl-h4: 0.85rem;
  --size-lg-h4: 0.9rem;
  --size-md-h4: 0.9rem;
  --size-sm-h4: 0.9rem;

  /*  .h2 > h2 */
  --size-2xl-h2-class: 1.05rem;
  --size-xl-h2-class: 1rem;
  --size-lg-h2-class: 0.9rem;
  --size-md-h2-class: 1rem;
  --size-sm-h2-class: 1rem;

  /*  .h5 > p */
  --size-2xl-h5: 1.6rem;
  --size-xl-h5: 1.6rem;
  --size-lg-h5: 1.75rem;
  --size-md-h5: 1.375rem;
  --size-sm-h5: 1.25rem;

  /* p */
  --size-2xl-p: 1.1rem;
  --size-xl-p: 1rem;
  --size-lg-p: 1rem;
  --size-md-p: 1.1rem;
  --size-sm-p: 1rem;

  /* p > sous-titre */
  --size-2xl-p-sous-titre: 1.16rem;
  --size-xl-p-sous-titre: 1.06rem;
  --size-lg-p-sous-titre: 1.06rem;
  --size-md-p-sous-titre: 1.16rem;
  --size-sm-p-sous-titre: 1.06rem;

  /* .competences */
  --size-2xl-competences: 1.1rem;
  --size-xl-competences: 0.95rem;
  --size-lg-competences: 0.92rem;
  --size-md-competences: 0.92rem;
  --size-sm-competences: 0.92rem;

  /* #footer p */
  --size-2xl-footer-p: 1.09rem;
  --size-xl-footer-p: 1.05rem;
  --size-lg-footer-p: 1.02rem;
  --size-md-footer-p: 1.2rem;
  --size-sm-footer-p: 1rem;

  /* text-button */
  --size-2xl-text-button: 1.25rem;
  --size-xl-text-button: 1.12rem;
  --size-lg-text-button: 1.1rem;
  --size-md-text-button: 1.063rem;
  --size-sm-text-button: 0.94rem;

  /* footer > text-button */
  --size-2xl-text-button-footer: 0.95rem;
  --size-xl-text-button-footer: 0.95rem;
  --size-lg-text-button-footer: 0.95rem;
  --size-md-text-button-footer: 0.95rem;
  --size-sm-text-button-footer: 0.95rem;

  /* text-button-banner */
  --size-2xl-text-button-banner: 1rem;
  --size-xl-text-button-banner: 0.9rem;
  --size-lg-text-button-banner: 0.9rem;
  --size-md-text-button-banner: 1.05rem;
  --size-sm-text-button-banner: 0.94rem;

  /* Nav > a */
  --size-2xl-nav-a: 1rem;
  --size-xl-nav-a: 0.9rem;
  --size-lg-nav-a: 1rem;
  --size-md-nav-a: 1.2rem;
  --size-sm-nav-a: 1.2rem;

  /* Font-weight */
  /* h1 */
  --weight-h1: 400;
  --weight-h1-phone: 700;
  /* h2 */
  --weight-h2: 400;
  --weight-h2-phone: 300;
  /* .h2 > h2 */
  --weight-h2-class: 400;
  /* h3 */
  --weight-h3: 700;
  /* h4 */
  --weight-h4: 400;
  --weight-h4-phone: 400;
  /*  .h5 > p */
  --weight-h5: 700;
  --weight-h5-phone: 400;
  /* p */
  --weight-p: 400;
  /* p */
  --weight-p-sous-titre: 600;
  /* text-button */
  --weight-footer-p: 300;
  /* text-button */
  --weight-text-button: 700;
  /* nav > a */
  --weight-nav-a: 300;

  /* Line-height */
  /* h1 */
  --height-h1: 2rem;
  --height-h1-phone: 1.725rem;
  /* h2 */
  --height-h2: 2rem;
  --height-h2-phone: 1.725rem;
  /* .h2 > h2 */
  --height-h2-class: 1.655rem;
  --height-h2-phone-class: 1.388rem;
  /* h3 */
  --height-h3: 2rem;
  --height-h3-phone: 1.375rem;
  /* h4 */
  --height-h4: 1.5rem;
  --height-h4-phone: 1.438rem;
  /*  .h5 > p */
  --height-h5: 2.58rem;
  --height-h5-phone: 1.738rem;
  /* p */
  --height-p: 1.8rem;
  --height-p-phone: 1.6rem;
  /* #footer p */
  --height-footer-p: 1.3rem;
  --height-footer-p-phone: 1rem;
  /* text-button */
  --height-text-button: 1.188rem;
  /* nav > a */
  --height-nav-a: 1.375rem;
  --height-nav-a-phone: 1.188rem;

  /* letter-spacing */
  /* h1 */
  --spacing-h1: 0.05em;
  --spacing-h1-phone: 0.04em;
  /* h2 */
  --spacing-h2: 0.06em;
  --spacing-h2-phone: 0.04em;
  /* .h2 > h2 */
  --spacing-h2-class: 0.045em;
  /* h3 */
  --spacing-h3: 0.04em;
  /* h4 */
  --spacing-h4: 0.04em;
  --spacing-h4-phone: 0.03em;
  /*  .h5 > p */
  --spacing-h5: 0.04em;
  --spacing-h5-phone: "inherit";
  /* p */
  --spacing-p: 0.015em;
  --spacing-p-phone: 0.01em;
  /* text-button */
  --spacing-text-button: 0.04em;
}

@layer base {
  @font-face {
    font-family: "Humanist521BT";
    src: url("../public/fonts/Humanist521BT/Humanist521BT.eot");
    src: url("../public/fonts/Humanist521BT/Humanist521BT.eot?#iefix")
        format("embedded-opentype"),
      url("../public/fonts/Humanist521BT/Humanist521BT.woff2") format("woff2"),
      url("../public/fonts/Humanist521BT/Humanist521BT.woff") format("woff"),
      url("../public/fonts/Humanist521BT/Humanist521BT.ttf") format("truetype");
  }
  @font-face {
    font-family: "RowdiesRegular";
    src: url("../public/fonts/RowdiesRegular/RowdiesRegular.eot");
    src: url("../public/fonts/RowdiesRegular/RowdiesRegular.eot?#iefix")
        format("embedded-opentype"),
      url("../public/fonts/RowdiesRegular/RowdiesRegular.woff2") format("woff2"),
      url("../public/fonts/RowdiesRegular/RowdiesRegular.woff") format("woff"),
      url("../public/fonts/RowdiesRegular/RowdiesRegular.ttf")
        format("truetype");
  }

  @layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  html {
    scroll-behavior: smooth;
  }

  #consent {
    z-index: 40;
    bottom: 0px;
  }

  #consent a:hover {
    color: var(--rouge-orange) !important;
  }

  #button-close-consent {
    margin-left: 2.5rem;
    height: 20px;
    width: 20px;
  }

  body {
    @apply no-scrollbar;
  }

  ul {
    list-style-type: disc;
  }

  /* Fonts */
  h1 {
    font-family: "Humanist521BT";
    font-weight: var(--weight-h1);
    line-height: var(--height-h1);
    letter-spacing: var(--spacing-h1);
  }

  h2 {
    font-family: "RowdiesRegular";
    font-weight: var(--weight-h2);
    line-height: var(--height-h2);
    letter-spacing: var(--spacing-h2);
  }

  h3 {
    font-family: "Humanist521BT";
    font-weight: var(--weight-h3);
    line-height: var(--height-h3);
    letter-spacing: var(--spacing-h3);
  }

  h4,
  .h4 > h3 {
    font-family: "RowdiesRegular";
    font-weight: var(--weight-h4);
    line-height: var(--height-h4);
    letter-spacing: var(--spacing-h4);
  }

  .h5 > p {
    font-family: "Humanist521BT";
    font-weight: var(--weight-h5);
    line-height: var(--height-h5);
    letter-spacing: var(--spacing-h5);
  }

  .h2 > h2 {
    font-family: "Humanist521BT";
    font-weight: var(--weight-h2-class);
    line-height: var(--height-h2-class);
    letter-spacing: var(--spacing-h2-class);
  }

  p,
  a,
  .competences,
  .message-erreur,
  ::placeholder,
  .error-msg {
    font-family: "Humanist521BT";
    font-weight: var(--weight-p);
    line-height: var(--height-p);
    letter-spacing: var(--spacing-p);
  }

  .sous-titre > p,
  .sous-titre p {
    font-weight: var(--weight-p-sous-titre);
    font-size: var(--size-2xl-p-sous-titre);
  }

  #footer p,
  #footer .nav a {
    font-weight: var(--weight-footer-p);
    line-height: var(--height-footer-p);
  }

  #footer button > span,
  #footer-mobile button > span {
    font-size: var(--size-2xl-text-button-footer);
  }

  .checkterms > p,
  .checkterms a {
    font-size: var(--size-sm-p);
    line-height: inherit;
  }

  button > span {
    font-family: "Humanist521BT";
    font-weight: var(--weight-text-button);
    line-height: var(--height-text-button);
    letter-spacing: var(--spacing-text-button);
  }

  #consent button > span {
    font-family: "Humanist521BT";
    font-weight: var(--weight-text-button-banner);
    line-height: var(--height-text-button-banner);
    letter-spacing: var(--spacing-text-button-banner);
  }

  nav a {
    font-family: "RowdiesRegular";
    font-weight: var(--weight-nav-a);
    line-height: var(--height-nav-a);
  }

  #maintenance #text-maintenance a {
    font-family: "Humanist521BT";
    font-weight: var(--weight-p);
    line-height: var(--height-p);
    letter-spacing: var(--spacing-p);
  }

  /* MEDIA QUERIES!! */

  /* min 1281px == 2xl */
  @media only screen and (min-width: 1281px) {
    h1 {
      font-size: var(--size-2xl-h1);
    }
    h2 {
      font-size: var(--size-2xl-h2);
    }
    h3 {
      font-size: var(--size-2xl-h3);
    }
    h4,
    .h4 > h3 {
      font-size: var(--size-2xl-h4);
    }
    .h5 > p {
      font-size: var(--size-2xl-h5);
    }
    .h2 > h2 {
      font-size: var(--size-2xl-h2-class);
    }
    .competences {
      font-size: var(--size-2xl-competences);
    }
    p,
    a,
    ::placeholder,
    .error-msg,
    #maintenance #text-maintenance a {
      font-size: var(--size-2xl-p);
    }

    .sous-titre > p,
    .sous-titre p {
      font-size: var(--size-2xl-p-sous-titre);
    }

    #footer p,
    #footer .nav a {
      font-size: var(--size-2xl-footer-p);
    }

    button > span {
      font-size: var(--size-2xl-text-button);
    }
    #consent button > span {
      font-size: var(--size-2xl-text-button-banner);
    }
    nav a {
      font-size: var(--size-2xl-nav-a);
    }
  }

  /* max 1280px == xl */
  @media only screen and (max-width: 1280px) {
    h1 {
      font-size: var(--size-xl-h1);
    }
    h2 {
      font-size: var(--size-xl-h2);
    }
    h3 {
      font-size: var(--size-xl-h3);
    }
    h4,
    .h4 > h3 {
      font-size: var(--size-xl-h4);
    }
    .h5 > p {
      font-size: var(--size-xl-h5);
    }
    .h2 > h2 {
      font-size: var(--size-xl-h2-class);
    }
    .competences {
      font-size: var(--size-xl-competences);
    }
    p,
    a,
    ::placeholder,
    .error-msg,
    #maintenance #text-maintenance a {
      font-size: var(--size-xl-p);
    }

    .sous-titre > p,
    .sous-titre p {
      font-size: var(--size-xl-p-sous-titre);
    }

    #footer p,
    #footer .nav a {
      font-size: var(--size-xl-footer-p);
    }

    button > span {
      font-size: var(--size-xl-text-button);
    }
    #consent button > span {
      font-size: var(--size-xl-text-button-banner);
    }
    nav a {
      font-size: var(--size-xl-nav-a);
    }
  }

  /* max 1024px == lg */
  @media only screen and (max-width: 1024px) {
    h1 {
      font-size: var(--size-lg-h1);
      font-weight: var(--weight-h1-phone);
      line-height: var(--height-h1-phone);
      letter-spacing: var(--spacing-h1-phone);
    }
    h2 {
      font-size: var(--size-lg-h2);
      font-family: "RowdiesRegular";
      font-weight: var(--weight-h2-phone);
      line-height: var(--height-h2-phone);
      letter-spacing: var(--spacing-h2-phone);
    }
    h3 {
      font-size: var(--size-lg-h3);
      line-height: var(--height-h3-phone);
    }
    h4,
    .h4 > h3 {
      font-size: var(--size-lg-h4);
      font-weight: var(--weight-h4-phone);
      line-height: var(--height-h4-phone);
      letter-spacing: var(--spacing-h4-phone);
    }
    .h5 > p {
      font-size: var(--size-lg-h5);
      font-weight: var(--weight-h5-phone);
      line-height: var(--height-h5-phone);
    }
    .h2 > h2 {
      font-size: var(--size-lg-h2-class);
      font-weight: var(--weight-h2-class);
      line-height: var(--height-h2-class);
    }
    .competences {
      font-size: var(--size-lg-competences);
    }
    p,
    a,
    ::placeholder,
    .error-msg,
    #maintenance #text-maintenance a {
      font-size: var(--size-lg-p);
      line-height: var(--height-p-phone);
      letter-spacing: var(--spacing-p-phone);
    }

    .sous-titre > p,
    .sous-titre p {
      font-size: var(--size-lg-p-sous-titre);
    }

    #footer p,
    #footer .nav a {
      font-size: var(--size-lg-footer-p);
      line-height: var(--height-footer-p-phone);
    }

    button > span {
      font-size: var(--size-lg-text-button);
    }
    #consent button > span {
      font-size: var(--size-lg-text-button-banner);
    }
    nav a {
      font-size: var(--size-lg-nav-a);
      line-height: var(--height-nav-a-phone);
    }
  }

  /* max 768px == md */
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: var(--size-md-h1);
      font-weight: var(--weight-h1-phone);
      line-height: var(--height-h1-phone);
      letter-spacing: var(--spacing-h1-phone);
    }
    h2 {
      font-size: var(--size-md-h2);
      font-family: "RowdiesRegular";
      font-weight: var(--weight-h2-phone);
      line-height: var(--height-h2-phone);
      letter-spacing: var(--spacing-h2-phone);
    }
    h3 {
      font-size: var(--size-md-h3);
      line-height: var(--height-h3-phone);
    }
    h4,
    .h4 > h3 {
      font-size: var(--size-md-h4);
      font-weight: var(--weight-h4-phone);
      line-height: var(--height-h4-phone);
      letter-spacing: var(--spacing-h4-phone);
    }
    .h5 > p {
      font-size: var(--size-md-h5);
      font-weight: var(--weight-h5-phone);
      line-height: var(--height-h5-phone);
    }
    .h2 > h2 {
      font-size: var(--size-md-h2-class);
      font-weight: var(--weight-h2-class);
      line-height: var(--height-h2-class);
    }
    .competences {
      font-size: var(--size-md-competences);
    }
    p,
    a,
    ::placeholder,
    .error-msg,
    #maintenance #text-maintenance a {
      font-size: var(--size-md-p);
      line-height: var(--height-p-phone);
      letter-spacing: var(--spacing-p-phone);
    }

    .sous-titre > p,
    .sous-titre p {
      font-size: var(--size-md-p-sous-titre);
    }

    #footer p,
    #footer .nav a {
      font-size: var(--size-md-footer-p);
      line-height: var(--height-footer-p-phone);
    }

    button > span {
      font-size: var(--size-md-text-button);
    }
    #consent button > span {
      font-size: var(--size-md-text-button-banner);
    }
    nav a {
      font-size: var(--size-md-nav-a);
      line-height: var(--height-nav-a-phone);
    }
  }

  /* max 640px == sm */
  @media only screen and (max-width: 640px) {
    h1 {
      font-size: var(--size-sm-h1);
      font-weight: var(--weight-h1-phone);
      line-height: var(--height-h1-phone);
      letter-spacing: var(--spacing-h1-phone);
    }
    h2 {
      font-size: var(--size-sm-h2);
      font-family: "RowdiesRegular";
      font-weight: var(--weight-h2-phone);
      line-height: var(--height-h2-phone);
      letter-spacing: var(--spacing-h2-phone);
    }
    h3 {
      font-size: var(--size-sm-h3);
      line-height: var(--height-h3-phone);
    }
    h4,
    .h4 > h3 {
      font-size: var(--size-sm-h4);
      font-weight: var(--weight-h4-phone);
      line-height: var(--height-h4-phone);
      letter-spacing: var(--spacing-h4-phone);
    }
    .h5 > p {
      font-size: var(--size-sm-h5);
      font-weight: var(--weight-h5-phone);
      line-height: var(--height-h5-phone);
    }
    .h2 > h2 {
      font-size: var(--size-sm-h2-class);
      font-weight: var(--weight-h2-class);
      line-height: var(--height-h2-class);
    }
    .competences {
      font-size: var(--size-sm-competences);
    }
    p,
    a,
    ::placeholder,
    .error-msg,
    #maintenance #text-maintenance a {
      font-size: var(--size-sm-p);
      line-height: var(--height-p-phone);
      letter-spacing: var(--spacing-p-phone);
    }
    button > span {
      font-size: var(--size-sm-text-button);
    }

    .sous-titre > p,
    .sous-titre p {
      font-size: var(--size-sm-p-sous-titre);
    }

    #footer p,
    #footer .nav a {
      font-size: var(--size-sm-footer-p);
      line-height: var(--height-footer-p-phone);
    }

    #consent button > span {
      font-size: var(--size-sm-text-button-banner);
    }
    nav a {
      font-size: var(--size-sm-nav-a);
      line-height: var(--height-nav-a-phone);
    }
  }
}
